


.button__outline-large {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 148px;
	height: 52px;
	font-weight: 700;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #f75e05 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease;
}

.button__outline-large::before {
	position: absolute;
	overflow: hidden;
	content: "";
	width: 148px;
	height: 52px;
	border-radius: 4px;
	background: url(../img/button.svg) 0 0/100% 100% no-repeat;
}
.button__outline-large:hover {
	box-shadow:  4px 4px 6px 0 #ff403a55,
	inset 4px 4px 6px 0 rgba(0, 0, 0, 0.156);
	border-radius: 4px;
}


.button__solid-large {
	display: flex;
	justify-content: center;
	width: 206px;
	height: 52px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	color: white;
	font-weight: 700;
	line-height: 52px;
	align-items: center;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.button__solid-large:hover {
  	background: linear-gradient(55.95deg, #F75E05 0%, #FF3F3A 100%);
	box-shadow:  4px 4px 6px 0#ff403a55,
	inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}



.button__solid-regular {
	display: flex;
	justify-content: center;
	width: 181px;
	height: 44px;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	color: white;
	font-weight: 700;
	line-height: 44px;
	font-size: 14px;
	align-items: center;
	letter-spacing: 0.5px;
	transition: all 0.3s ease;
}
.button__solid-regular:hover {
	background: linear-gradient(55.95deg, #F75E05 0%, #FF3F3A 100%);
	box-shadow:  4px 4px 6px 0#ff403a55,
	inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}